#detailsId {
    background: rgb(153, 40, 22);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(153, 40, 22, 1) 0%, rgba(209, 65, 30, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(153, 40, 22, 1) 0%, rgba(209, 65, 30, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(153, 40, 22, 1) 0%, rgba(209, 65, 30, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#992816', endColorstr='#d1411e', GradientType=0);
    width: 800px;
    height: auto;
    margin: auto;
    margin-top: 20px;
    border: 3px solid black;
    border-radius: 10px;
    /* margin-bottom: 280px; */
    text-align: center;
    padding: 20px;
}

#detailsImage {
    width: 400px;
    /* border: 1px solid black; */
    height: auto;
}

/* Buttons  */
#detailsBackBtn {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #d1411e;
    margin-left: 12px;
}

#detailsBackBtn:hover {
    background-color: rgb(61, 60, 60);
    border: 1px solid black;
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    margin-left: 12px;
}

#detailsEditBtn {
    background-color: rgb(20, 158, 7);
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #d1411e;
    margin-right: 10px;
    width: 35px;
}

#detailsEditBtn:hover {
    background-color: rgb(24, 110, 16);
    border: 1px solid black;
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
}

#detailsDeleteBtn {
    background-color: rgb(214, 8, 8);
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #d1411e;
    height: 39px;
    cursor: pointer;
}

#detailsDeleteBtn:hover {
    background-color: rgb(158, 8, 8);
    border: 1px solid black;
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}

/* Price */
#price {
    font-size: 15px;

}

.imgCartDetails {
    background-image: url('../../../public/img/addCart.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    width: 40px;
    height: 30px;
    margin-right: 22px;
    margin-bottom: 4px;
}

.imgCartDetails:active {
    background-image: url('../../../public/img/addCart-blue.png');
    cursor: pointer;
    margin-right: 22px;
}

#detailBtns {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#txtDetails {
    color: rgb(36, 37, 36);
    margin-right: 12px;
    margin-top: 2px;
    font-weight: bold;
    cursor: pointer;

}

#some {
    margin: auto;
}

/* Modal */

.modal {
    background-color: rgb(245 241 235);
    width: 500px;
    height: 150px;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
    padding: 8px;
    z-index: 1;
}

.modalContent {
    /* background-color: whitesmoke; */
    width: 300px;
    margin: auto;
    margin-top: 40px;

}

#modalCancel {
    background-color: rgb(20, 158, 7);
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #d1411e;
    margin-left: 10px;
    height: 36px;
    cursor: pointer;
}

#modalCancel:hover {
    background-color: rgb(24, 110, 16);
    border: 1px solid black;
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
}

#modalDel {
    background-color: rgb(214, 8, 8);
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    border: none;
    height: 35px;
    cursor: pointer;
    margin-right: 10px;
}

#modalDel:hover {
    background-color: rgb(158, 8, 8);
    border: 1px solid black;
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}

#txtModal {
    margin-bottom: 22px;
    font-weight: bold;
}

/* End Modal */

@media only screen and (max-width: 860px) {
    #detailsId {
        background: rgb(153, 40, 22);
        /* Old browsers */
        background: -moz-linear-gradient(top, rgba(153, 40, 22, 1) 0%, rgba(209, 65, 30, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(153, 40, 22, 1) 0%, rgba(209, 65, 30, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(153, 40, 22, 1) 0%, rgba(209, 65, 30, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#992816', endColorstr='#d1411e', GradientType=0);
        width: auto;
        height: auto;
        margin: auto;
        margin-top: 20px;
        border: 3px solid black;

        /* margin-bottom: 280px; */
        text-align: center;
        padding: 20px;
    }
}