.divProduct {
    background-color: rgb(243, 243, 243);
    width: auto;
    height: 80px;
    border: 2px solid black;
    border-radius: 10px;
    display: grid;
    gap: 10px;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.divProduct:hover {
    background-color: rgb(196, 193, 189);
    width: auto;
    height: 80px;
    border: 2px solid black;
    border-radius: 10px;
    display: grid;
    gap: 10px;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

#checkboxId{
    width: 21px;
    background-color: red;
    border: 1px solid black;
    text-align: center;
    padding-bottom: 3px;
    padding-left: 2px;
    margin-left: 12px;
    border-radius: 20px;
    font-weight: bold;
}
#checkboxId:hover {
    width: 21px;
    background-color: rgb(226, 6, 6);
    border: 1px solid black;
    text-align: center;
    padding-bottom: 3px;
    padding-left: 2px;
    margin-left: 12px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

.infoDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoDiv>p {
    text-decoration: none;
    width: 100px;
}

.infoDiv>input {
    margin-right: 20px;
}

.infoDiv>img {
    width: 100px;
    margin-left: 10px;
    height:95px;
}

#titlePizza {
    color: rgb(7, 7, 7);
    font-weight: bold;
    text-decoration: none;
}

#descriptionProduct{
    width: 200px;
}

.btns{
    width: 22px;
    height: 23px;
    background-color: rgb(255 255 255);
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
}

.btns:hover {
    width: 22px;
    height: 23px;
    background-color: rgb(221, 219, 219);
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
}

.btnsContainer{
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 32px;

}

@media only screen and (max-width: 660px) {

    .divProduct {
        background-color: rgb(196, 193, 189);
        width: auto;
        border: 2px solid black;
        border-radius: 10px;
        display: grid;
        gap: 10px;
        margin-bottom: 15px;
        padding-bottom: 15px;
        height: auto;
    }

    .divProduct:hover {
        background-color: rgb(196, 193, 189);
        width: auto;
        border: 2px solid black;
        border-radius: 10px;
        display: grid;
        gap: 10px;
        margin-bottom: 15px;
        padding-bottom: 15px;
        height: auto;
    }

    .infoDiv {
        display: flex;
        align-items: center;
        flex-direction: column;
    }



    .infoDiv>img {
        width: 170px;
        margin-left: 0px;
        margin-top: 20px;
    }

}